<%#
    卡片样式参考预览
    type: Array<Number>
        1: 好价简约卡片
        2: sku卡片
        3: spu卡片
        4: 商品卡片
        5: 商城卡片
        6: 酒店卡片
        7: 自由行卡片
        8: 机票路行卡片
        9: 优惠文章卡片
        10: 小程序卡片
%>
<% var type = type || [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; %>
<% if (type.includes(1)) { %>
<!-- 好价简约卡片 -->
<span class="embed-card main-site simple-card">
    <a href="#"><span class="z-tag-baike">百科</span></a>
    <span class="embed-card-logo">
        <img src="http://placeholdit.sinaapp.com/124x124" alt="zaozuo">
    </span>
    <span class="embed-card-info">
        <a href="#"><span class="card-name">闲508元包邮508元包邮鞋*<b>508元包邮，双重优惠双重优惠</b></span></a>
        <span class="card-abstract">
            满6免3叠加用券，最高满250减150，另外欢迎大家分享书单～都说早起的鸟儿有虫吃，今天这样的历史将被改写——事实证明...
        </span>
    </span>
    <span class="card-controls">
        <span class="mall-data">亚马逊中国</span>
        <span class="card-inline-split">|</span>
        <span class="group-data"> <i>赞</i>
            155
        </span>
        <span class="group-data"> <i>收藏</i>
            342
        </span>
        <a href="#"><span class="card-btn-black">贝窝代购</span></a>
        <a href="#"><span class="card-btn-deep">品牌官网</span></a>
        <a href="#"><span class="card-btn-light">查看详情</span></a>
    </span>
</span>
<% } %>
<% if (type.includes(2)) { %>
<!-- sku卡片 -->
<span class="embed-card main-site baike-card baike-sku">
    <a href="#"><span class="z-tag-baike">百科</span></a>
    <span class="embed-card-logo">
        <img src="http://placeholdit.sinaapp.com/150x150" alt="zaozuo"">
    </span>
    <span class="embed-card-info">
        <a href="#"><span class="card-name">限金钻会员： Onitsuka Tiger 鬼冢虎 TOKUTEN D3B2L 运动休闲鞋*3双动休闲鞋</span></a>
        <span class="card-abstract">
            满6免3叠加用券，最高满250减150，另外欢迎大家分享书单～都说早起的鸟儿有虫吃，今天这样的历史将被改写——事实证明...
        </span>
        <span class="card-sub-abstract">$9218起</span>
        <span class="card-controls">
            <span class="group-data"> <i>值</i>
                155
            </span>
            <span class="group-data"> <i>点评</i>
                342
            </span>
            <span class="group-data"> <i>原创</i>
                155
            </span>
            <span class="group-data"> <i>好价</i>
                342
            </span>
            <a href="#"><span class="card-btn-light">查看详情</span></a>
            <a href="#"><span class="card-btn-deep">去购买</span></a>
        </span>
    </span>
</span>
<% } %>
<% if (type.includes(3)) { %>
<!-- spu卡片 -->
<span class="embed-card main-site baike-card baike-spu">
    <span class="z-tag-baike">百科</span>
    <span class="embed-card-logo">
        <img src="http://placeholdit.sinaapp.com/150x150" alt="zaozuo"">
    </span>
    <span class="embed-card-info">
        <span class="card-name">限金钻会员： Onitsuka Tiger 鬼冢虎 TOKUTEN D3B2L 运动休闲鞋*3双动休闲</span>
        <span class="card-abstract">
            满6免3叠加用券，最高满250减150，另外欢迎大家分享书单～都说早起的鸟儿有虫吃，今天这样的历史将被改写——事实证明...
        </span>
        <span class="card-controls">
            <span class="group-data"> <i>值</i>
                155
            </span>
            <span class="group-data"> <i>点评</i>
                342
            </span>
            <span class="group-data"> <i>原创</i>
                155
            </span>
            <span class="group-data"> <i>好价</i>
                342
            </span>
            <span class="card-btn-light">查看详情</span>
        </span>
    </span>
</span>
<% } %>
<% if (type.includes(4)) { %>
<!-- 商品卡片 -->
<dir class="insert-outer" res-data-id="929024">
    <span class="embed-card main-site res_smzdm">
        <span class="embed-card-logo res_smzdm">
            <img alt="卡片：这个里面有最全的卡片样式" class="res_smzdm" src="https://tp-a.zdmimg.com/201706/09/593a10804f4af7741.jpg_e600.jpg">
        </span>
        <span class="embed-card-info  res_smzdm">
            <span class="card-name res_smzdm">Apple iPhone 7 Plus (A1661) 128G 玫瑰金色 移动联通电信4G手机<strong class="price res_smzdm">6488元</strong>
            </span>
            <span class="card-abstract res_smzdm">这是iphone7p，玫瑰金色</span>
            <span class="card-controls res_smzdm">
                <span class="mall-data res_smzdm">京东</span>
                <span class="card-btn-deep res_smzdm">直达链接</span>
            </span>
        </span>
    </span>
</dir>
<% } %>
<% if (type.includes(5)) { %>
<!-- 商城卡片 -->
<dir class="insert-outer" res-data-id="929026">
    <span class="embed-card main-site res_smzdm">
        <span class="embed-card-logo res_smzdm">
            <img class="res_smzdm" src="http://placeholdit.sinaapp.com/150x150" _src="//res.smzdm.com/images/card/smzdm.png">
        </span>
        <span class="embed-card-info res_smzdm">
            <span class="card-name res_smzdm">什么值得买 | 品质消费第一站_网购决策中立门户</span>
            <span class="card-abstract res_smzdm">什么值得买是一家中立的消费门户网站，实时推送优质的网购优惠信息，真实的原创购物攻略，致力成为品质消费第一站，内容涉及3C家电、家居生活、时尚运动、海淘、旅游、汽车、信用卡等多个领域，网购就上什么值得买，让您的消费更值！</span>
            <span class="card-controls res_smzdm">
                <span class="mall-data res_smzdm">www.smzdm.com</span>
                <span class="card-btn-deep res_smzdm">去看看</span>
            </span>
        </span>
    </span>
</dir>
<% } %>
<% if (type.includes(6)) { %>
<!-- 酒店卡片 -->
<dir class="insert-outer" res-data-id="929030">
    <span class="embed-card main-site res_smzdm">
        <span class="embed-card-logo res_smzdm">
            <img alt="卡片：这个里面有最全的卡片样式" class="res_smzdm" src="https://tp-a.zdmimg.com/201706/09/593a10ed246444967.png_e600.jpg">
        </span>
        <span class="embed-card-info res_smzdm">
            <span class="card-name res_smzdm">北京首都机场馨雅酒店T3航站楼店_北京首都机场馨雅酒店T3航站楼店预订及特惠价格查询-去哪儿Qunar.com</span>
            <span class="card-abstract res_smzdm">北京首都机场馨雅酒店T3航站楼店预订:实时查询和比较118家网站,北京首都机场馨雅酒店T3航站楼店详细地址,房型对比,酒店设施及 北京首都机场馨雅酒店T3航站楼店特惠价格及报价。去哪儿Qunar.com为您提供预定北京首都机场馨雅酒店T3航站楼店一站式服务</span>
            <span class="card-controls res_smzdm">
                <span class="mall-data res_smzdm">hotel.qunar.com</span>
                <span class="card-btn-deep res_smzdm">直达链接</span>
            </span>
        </span>
    </span>
</dir>
<% } %>
<% if (type.includes(7)) { %>
<!-- 自由行 -->
<dir class="insert-outer" res-data-id="929032">
    <span class="embed-card main-site res_smzdm">
        <span class="embed-card-logo res_smzdm">
            <img alt="卡片：这个里面有最全的卡片样式" class="res_smzdm" src="https://tp-a.zdmimg.com/201706/09/593a110c9b1136530.jpg_e600.jpg">
        </span>
        <span class="embed-card-info res_smzdm">
            <span class="card-name res_smzdm">自由行！哈尔滨直飞海参崴（南航正班）双飞4/5日，含机票+过境名单+住宿！-出境游-爱游旅游网</span>
            <span class="card-abstract res_smzdm">爱游旅游网为您提供国内旅游、出境旅游线路查询及实时比价服务，是您预订旅行社产品跟团游及自由行的最佳选择。</span>
            <span class="card-controls res_smzdm">
                <span class="mall-data res_smzdm">hshj7.package.qunar.com</span>
                <span class="card-btn-deep res_smzdm">直达链接</span>
            </span>
        </span>
    </span>
</dir>
<% } %>
<% if (type.includes(8)) { %>
<!-- 机票路线 -->
<dir class="insert-outer" res-data-id="929034">
    <span class="embed-card main-site res_smzdm">
        <span class="embed-card-logo res_smzdm">
            <img alt="卡片：这个里面有最全的卡片样式" class="res_smzdm" src="https://tp-a.zdmimg.com/201706/09/593a112e87f7c3811.gif_e600.jpg">
        </span>
        <span class="embed-card-info res_smzdm">
            <span class="card-name res_smzdm">【去哪儿网】机票查询,特价机票,打折飞机票-去哪儿网Qunar.com</span>
            <span class="card-abstract res_smzdm">去哪儿(Qunar.com)作为全球最大的中文旅游搜索引擎,通过对机票,酒店,旅游线路的整合与发布,提供专业、实时、可信的旅游产品价格比较与服务比较系统,帮助消费者轻松进行充分选择,是您预订机票、酒店、旅游线路的的最佳选择!</span>
            <span class="card-controls res_smzdm">
                <span class="mall-data res_smzdm">flight.qunar.com</span>
                <span class="card-btn-deep res_smzdm">直达链接</span>
            </span>
        </span>
    </span>
</dir>
<% } %>
<% if (type.includes(9)) { %>
<!-- 优惠文章 -->
<dir class="insert-outer" res-data-id="929035">
    <span class="embed-card main-site res_smzdm">
        <span class="z-tag-baike res_smzdm">国内</span>
        <span class="embed-card-logo res_smzdm">
            <img alt="卡片：这个里面有最全的卡片样式" class="res_smzdm" src="https://tp-y.zdmimg.com/201508/18/55d2cce6d1165.jpeg_e600.jpg">
        </span>
        <span class="embed-card-info res_smzdm">
            <span class="card-name res_smzdm">SIEMENS 西门子 KA92NV02TI 610L 对开门冰箱<strong class="price">5188元包邮（5988元，双重优惠）</strong></span>
            <span class="card-abstract res_smzdm">变频风冷，独立双循环，再到好价。京东目前售价5988元，参加“满4000.00减600.00”活动，下单返现200元，实付5188元，比昨天苏宁易购小低10元，有货区域也更多，有需求的可以购买。这款西门子KA92NV02TI对开门冰箱，二级能效，风冷型，冰箱内部不易结霜，干净清洁，与之对应的缺点就是</span>
            <span class="card-controls res_smzdm">
                <span class="mall-data res_smzdm">heyyo</span>
                <span class="card-inline-split">|</span>
                <span class="group-data res_smzdm"> <em>值</em>0</span><span class="group-data res_smzdm"> <em>评论</em>0</span>
                <span class="group-data res_smzdm"> <em>收藏</em>0</span>
                <span class="card-btn-deep res_smzdm">直达链接</span><span class="card-btn-light res_smzdm">查看详情</span>
            </span>
        </span>
    </span>
</dir>
<dir class="insert-outer" res-data-id="929036">
    <span class="embed-card main-site res_smzdm">
        <span class="embed-card-logo res_smzdm">
            <img class="res_smzdm" src="http://placeholdit.sinaapp.com/150x150" _src="//a.zdmimg.com/201706/06/593644f52ff129183.jpg_a200.jpg">
        </span>
        <span class="embed-card-info res_smzdm">
            <span class="card-name res_smzdm">“吃肉，東哥是认真的” 篇二：6步教你成为牛排大师 （Sous Vide）</span>
            <span class="card-abstract res_smzdm">前言：最近看了几篇值友关于牛排的好文；东哥作为朋友圈公认的烤肉达人；想和大家分享一下烤肉心得；开一个系列：《吃肉，我是认真的》。大家喜欢的话，这个主题我会陆续写下去。这一篇和大家聊聊我是如何烤自认完美的牛排的。其实这一篇应该算系列第二篇。第一篇是我之前写的《用WeberMountainSmoker烤</span>
            <span class="card-controls res_smzdm">
                <span class="mall-data res_smzdm">阿東哥</span><span class="card-inline-split">|</span>
                <span class="group-data res_smzdm"> <em>赞</em>860</span>
                <span class="group-data res_smzdm"> <em>评论</em>1k</span><span class="group-data res_smzdm"> <em>收藏</em>5k</span>
                <span class="card-btn-light res_smzdm">查看详情</span>
            </span>
        </span>
    </span>
</dir>
<dir class="insert-outer" res-data-id="929038">
    <span class="embed-card main-site res_smzdm">
        <span class="embed-card-logo res_smzdm">
            <img class="res_smzdm" src="http://placeholdit.sinaapp.com/150x150" _src="//res.smzdm.com/images/card/smzdm.png">
        </span>
        <span class="embed-card-info res_smzdm">
            <span class="card-name res_smzdm">E路航——行车记录仪中的“鹿晗”，快到姐姐的怀里来！_值友评测_什么值得买</span>
            <span class="card-abstract res_smzdm">E路航——行车记录仪中的“鹿晗”，快到姐姐的怀里来！，什么值得买众测平台的产品，由e路航提供给广大值友试用，总共数量有20，欢迎喜欢本产品的值友申请试用并提供测评体验文章。</span>
            <span class="card-controls res_smzdm">
                <span class="mall-data res_smzdm">test.smzdm.com</span>
                <span class="card-btn-deep res_smzdm">去看看</span>
            </span>
        </span>
    </span>
</dir>
<dir class="insert-outer" res-data-id="929039">
    <span class="embed-card main-site res_smzdm">
        <span class="embed-card-logo res_smzdm">
            <img alt="卡片：这个里面有最全的卡片样式" class="res_smzdm" src="https://tp-a.zdmimg.com/201706/09/593a0d088c8cd2600.gif_e600.jpg">
        </span>
        <span class="embed-card-info res_smzdm">
            <span class="card-name res_smzdm">可控制十几家智能家居产品：Rokid 若琪 展示 Rokid Pebble 月石 语音智能机器人</span>
            <span class="card-abstract res_smzdm">在逛CESAsia展会的第三天，小编在N2展馆看到了一个比较有趣的展位：一辆金属外观的圆滚滚的汽车（N2展馆大部分都是各类电子科技产品、汽车馆在N3），汽车内饰为太空舱风格，这是一家名为Rokid（若琪）的厂商在展示Pebble月石语音机器人，这款产品利用自家语音识别技术可对智能家居设备进行控制，在</span>
            <span class="card-controls res_smzdm">
                <span class="group-data res_smzdm"> <em>赞</em>0</span><span class="group-data res_smzdm"> <em>评论</em>0</span>
                <span class="group-data res_smzdm"> <em>收藏</em>0</span>
                <span class="card-btn-light res_smzdm">查看详情</span>
            </span>
        </span>
    </span>
</dir>
<dir class="insert-outer" res-data-id="929041">
    <span class="embed-card main-site res_smzdm">
        <span class="z-tag-baike res_smzdm">百科</span>
        <span class="embed-card-logo res_smzdm">
            <img alt="卡片：这个里面有最全的卡片样式" class="res_smzdm" src="https://ym.zdmimg.com/201704/25/58ff076551e5b.png_e600.jpg">
        </span>
        <span class="embed-card-info res_smzdm">
            <span class="card-name res_smzdm">CHRISTIAN LOUBOUTIN Classic Iriza Patent 红色高跟鞋</span>
            <span class="card-abstract res_smzdm">Christian Louboutin（克里斯提·鲁布托）,一个法国的高跟鞋设计师,同时也是一个著名高跟鞋品牌，红底鞋是Christian Louboutin 的招牌标识。红鞋底仿佛有一种魔力，让细腻精致的女人心动，更令女人在男人面前展露自信和性感。 任何一个穿过他制作的鞋子的女人都会陷入一种舒适的</span>
            <span class="card-controls res_smzdm">
                <span class="group-data res_smzdm"> <em>值</em>111</span>
                <span class="group-data res_smzdm"> <em>点评</em>1</span>
                <span class="group-data res_smzdm"> <em>原创</em>0</span>
                <span class="group-data res_smzdm"> <em>好价</em>0</span>
                <span class="card-btn-deep res_smzdm">直达链接</span><span class="card-btn-light res_smzdm">查看详情</span>
            </span>
        </span>
    </span>
</dir>
<% } %>
<% if (type.includes(10)) { %>
<!-- 小程序 -->
<dir class="insert-outer" res-data-id="929027">
    <span class="embed-card main-site res_smzdm">
        <span class="embed-card-logo res_smzdm">
            <!-- 商品图 -->
            <img alt="卡片：这个里面有最全的卡片样式" class="res_smzdm production" src="https://tp-a.zdmimg.com/201706/09/593a10bea012c2566.png_e600.jpg">
            <!-- 小程序码 -->
            <img src="https://via.placeholder.com/150?text=This+is+qrcode!" alt="卡片：这个里面有最全的卡片样式" class="res_smzdm qrcode">
        </span>
        <span class="embed-card-info embed-card-xcx res_smzdm">
            <span class="card-name res_smzdm">京东(JD.COM)-正品低价京东(JD.COM)-正品低价京东(JD.COM)-正品低价京东(JD.COM)-正品低价京东(JD.COM)-正品低价京东(JD.COM)-正品低价京东(JD.COM)-正品低价京东(JD.COM)-正品低价京东(JD.COM)-正品低价、品质保障、配送及时、轻松购物！</span>
            <span class="card-abstract res_smzdm">京东JD.COM-专业的综合网上购物商城,销售家电、数码通讯、电脑、家居百货、服装服饰、母婴、图书、食品等数万个品牌优质商品.便捷、诚信的服务，为您提供愉悦的网上购物体验!京东JD.COM-专业的综合网上购物商城,销售家电、数码通讯、电脑、家居百货、服装服饰、母婴、图书、食品等数万个品牌优质商品.便捷、诚信的服务，为您提供愉悦的网上购物体验!</span>
            <span class="card-controls res_smzdm">
                <span class="info-xcx"><i class="icon-infinity"></i>小程序</span>
            </span>
        </span>
    </span>
</dir>
<% } %>
