<% var hasCatalogue = hasCatalogue || false; %>
<div class="left-layer J_left_layer">
    <% if (hasCatalogue) { %>
    <!-- 文章目录 -->
    <div class="catelogue" title="目录">
        <i class="icon-contents-o"><!--[if lt IE 8]>目录<![endif]--></i>
        <span>目录</span>
        <ul class="list">
            <li>
                <h2>
                    <a href="#cl_0">我是目录</a>
                </h2>
            </li>
            <li>
                <h2>
                    <a href="#cl_1">我是目录我是目录我是目录我目录</a>
                </h2>
            </li>
            <li>
                <h2>
                    <a href="#cl_2">户型</a>
                </h2>
            </li>
            <li>
                <h2>
                    <a href="#cl_3">我是目录</a>
                </h2>
            </li>
        </ul>
    </div>
    <% } %>
    <!-- 收藏 -->
    <div class="fav J_zhi_like_fav J_zhi_like_fav_detail" title="收藏" data-cid="66" data-atp="70056650" data-channel="66" data-article="70056650" data-tagid="438329" data-type="fav">
        <i class="icon-star-o"><!--[if lt IE 8]>收藏<![endif]--></i>
        <span>1</span>
    </div>
    <!-- 评论 -->
    <div class="comment J_comment" title="评论">
        <a href="#comments">
            <i class="icon-comment-o"><!--[if lt IE 8]>评论<![endif]--></i>
            <span>0</span>
        </a>
    </div>
    <!-- 分享 -->
    <div class="left-share J_common_shares" data-tag="share_1">
        <i class="icon-share-o"><!--[if lt IE 8]>分享<![endif]--></i>
        <ul class="common-share-list J_share_dropdown">
            <li class="common-share-wechat">
                <span>微信扫一扫</span>
                <!-- qrcode生成 src嵌套留空 -->
                <img id="J_share_code" src="" alt="" data-url="https://www.smzdm.com/p/13468183/">
            </li>
            <li>
                <a href="http://v.t.sina.com.cn/share/share.php?url=https%3A%2F%2Fwww.smzdm.com%2Fp%2F13468183%2F&amp;title=%E5%89%8D%E7%BC%80%3A%E7%B2%BE%E9%80%89%20%E5%9B%BD%E5%86%85%2013468183%20zhangfan03%20Test%2004-26%2011%3A24%3A07%209998_%E4%BA%AC%E4%B8%9C%E4%BC%98%E6%83%A0_%E4%BB%80%E4%B9%88%E5%80%BC%E5%BE%97%E4%B9%B0" onclick="dataLayer.push({'event': '900003', '渠道': '微博', '文章ID': '13468183'});" target="_blank">
                    <i class="icon-weibo"></i>新浪微博
                </a>
            </li>
            <li>
                <a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=https%3A%2F%2Fwww.smzdm.com%2Fp%2F13468183%2F&amp;title=%E5%89%8D%E7%BC%80%3A%E7%B2%BE%E9%80%89%20%E5%9B%BD%E5%86%85%2013468183%20zhangfan03%20Test%2004-26%2011%3A24%3A07%209998_%E4%BA%AC%E4%B8%9C%E4%BC%98%E6%83%A0_%E4%BB%80%E4%B9%88%E5%80%BC%E5%BE%97%E4%B9%B0" onclick="dataLayer.push({'event': '900003', '渠道': 'QQ空间', '文章ID': '13468183'});" target="_blank">
                    <i class="icon-qzone"></i>QQ空间
                </a>
            </li>
            <li>
                <a href="http://connect.qq.com/widget/shareqq/index.html?url=https%3A%2F%2Fwww.smzdm.com%2Fp%2F13468183%2F&amp;title=%E5%89%8D%E7%BC%80%3A%E7%B2%BE%E9%80%89%20%E5%9B%BD%E5%86%85%2013468183%20zhangfan03%20Test%2004-26%2011%3A24%3A07%209998_%E4%BA%AC%E4%B8%9C%E4%BC%98%E6%83%A0_%E4%BB%80%E4%B9%88%E5%80%BC%E5%BE%97%E4%B9%B0" onclick="dataLayer.push({'event': '900003', '渠道': 'QQ', '文章ID': '13468183'});" target="_blank">
                    <i class="icon-qq"></i>QQ好友
                </a>
            </li>
            <li>
                <a href="https://www.douban.com/share/service?href=https%3A%2F%2Fwww.smzdm.com%2Fp%2F13468183%2F&amp;name=%E5%89%8D%E7%BC%80%3A%E7%B2%BE%E9%80%89%20%E5%9B%BD%E5%86%85%2013468183%20zhangfan03%20Test%2004-26%2011%3A24%3A07%209998_%E4%BA%AC%E4%B8%9C%E4%BC%98%E6%83%A0_%E4%BB%80%E4%B9%88%E5%80%BC%E5%BE%97%E4%B9%B0" onclick="dataLayer.push({'event': '900003', '渠道': '豆瓣', '文章ID': '13468183'});" target="_blank">
                    <i class="icon-douban"></i>豆瓣
                </a>
            </li>
            <li>
                <a href="https://dig.chouti.com/digg.action?newsURL=https%3A%2F%2Fwww.smzdm.com%2Fp%2F13468183%2F&amp;title=%E5%89%8D%E7%BC%80%3A%E7%B2%BE%E9%80%89%20%E5%9B%BD%E5%86%85%2013468183%20zhangfan03%20Test%2004-26%2011%3A24%3A07%209998_%E4%BA%AC%E4%B8%9C%E4%BC%98%E6%83%A0_%E4%BB%80%E4%B9%88%E5%80%BC%E5%BE%97%E4%B9%B0" onclick="dataLayer.push({'event': '900003', '渠道': '抽屉', '文章ID': '13468183'})" target="_blank">
                    <i class="icon-drawer"></i>抽屉新热榜
                </a>
            </li>
        </ul>
    </div>
    <!-- qrcode -->
    <div class="qrcode" >
        <div class="code">
            <!-- qrcode生成 src嵌套留空 -->
            <img src="" alt="" id="J_share_qrcode" data-url="https://www.smzdm.com/qr/faxian/p/13468183">
            <span>扫一下，分享更方便，购买更轻松</span>
        </div>
    </div>
</div>
