<ul id="elevator_nav" class="">
    <li class="" scrollTo="J_pinlei">
        <div class="no-hover">
            <i class="z-icon-square-circle"></i>
            <div class="side-top-two">品类</div>
        </div>
        <div class="hover">
            <div>好价</div>
            <div class="side-top">品类榜</div>
        </div>
    </li>
    <li class="" scrollTo="J_dianshang">
        <div class="no-hover">
            <i class="z-icon-honor"></i>
            <div class="side-top-two">电商</div>
        </div>
        <div class="hover">
            <div>好价</div>
            <div class="side-top">电商榜</div>
        </div>
    </li>
    <li class="" scrollTo="J_haowen">
        <div class="no-hover">
            <i class="z-icon-writings"></i>
            <div class="side-top-two">好文</div>
        </div>
        <div class="hover">
            <div>好文</div>
            <div class="side-top">排行榜</div>
        </div>
    </li>
    <li class="" scrollTo="J_haowu">
        <div class="no-hover">
            <i class="z-icon-bag"></i>
            <div class="side-top-two">好物</div>
        </div>
        <div class="hover">
            <div>好物</div>
            <div class="side-top">排行榜</div>
        </div>
    </li>
    <li class="" scrollTo="J_haitao">
        <div class="no-hover">
            <i class="z-icon-broken-line"></i>
            <div class="side-top-two">海淘</div>
        </div>
        <div class="hover">
            <div>海淘</div>
            <div class="side-top">TOP榜</div>
        </div>
    </li>
    <li class="" scrollTo="J_reci">
        <div class="no-hover">
            <i class="z-icon-search-word"></i>
            <div class="side-top-two">热词</div>
        </div>
        <div class="hover">
            <div>热词</div>
            <div class="side-top">搜索榜</div>
        </div>
    </li>
    <li class="back-top">
        <i class="icon-angle-up-o"></i>
    </li>
</ul>
