<div class="feed-pagenation">
    <ul class="pagenation-list" id="J_feed_pagenation">
        <li class="page-turn prev-page"><a href="#"><i class="icon-angle-left-o-thin"></i></a></li>
        <li class="page-number current"><a href="#">1</a></li>
        <li class="page-number"><a href="#">2</a></li>
        <li class="page-number"><a href="#">3</a></li>
        <li class="page-number"><a href="#">4</a></li>
        <li class="page-number"><a href="#">5</a></li>
        <li class="page-number"><a href="#">6</a></li>
        <li><span>...</span></li>
        <li class="page-turn next-page"><a href="#"><i class="icon-angle-right-o-thin"></i></a></li>
    </ul>
</div>
