<!-- 以下内容无需嵌套, 接口统一输出 -->
<!-- 全站footer+右侧电梯 -->
<link href="../dist/site-footer.css" inline>
<footer id="footer">
    <div class="footer-inner z-clearfix">
        <div class="footer-left">
            <div class="footer-l-top">
                <a href="#">关于我们</a><a href="#">联系我们</a><a href="#">招聘专区</a><a href="#">网站地图</a><span class="split"></span><a href="#">机构账号</a><a href="#">商业合作</a><span class="split"></span><a href="#">用户协议</a><a href="#">隐私策略</a><span class="split"></span><a href="#">营业执照</a>
            </div>

            <!-- footer-innerlink -->
            <div class="footer-l-mid">
                <div class="internal-links-tab J_simple_tab" data-rel="internal-links"><a href="javascript:;" class="active">热门分类</a><a href="javascript:;">热门品牌</a><a href="javascript:;">信用卡</a><a href="javascript:;">优惠券</a></div>
                <div class="internal-links-con" id="internal-links">
                    <div style="display: block;">
                        <a href="http://www.smzdm.com/fenlei/nanbiao/" target="_blank">男表</a>
                        <a href="http://www.smzdm.com/fenlei/zhinengshouji/" target="_blank">智能手机</a>
                        <a href="http://www.smzdm.com/fenlei/bijibendiannao/" target="_blank">笔记本电脑</a>
                        <a href="http://www.smzdm.com/fenlei/diaozhui/" target="_blank">吊坠</a>
                        <a href="http://www.smzdm.com/fenlei/jiezhi/" target="_blank">戒指</a>
                        <a href="http://www.smzdm.com/fenlei/dianshi/" target="_blank">电视</a>
                        <a href="http://www.smzdm.com/fenlei/haiwailvyou/" target="_blank" _hover-ignore="1">海外旅游</a>
                        <a href="http://www.smzdm.com/fenlei/bingxiang/" target="_blank">冰箱</a>
                        <a href="http://www.smzdm.com/fenlei/kongtiao/" target="_blank">空调</a>
                        <a href="http://www.smzdm.com/fenlei/xiangji/" target="_blank">相机</a>
                        <a href="http://www.smzdm.com/fenlei/paobuxie/" target="_blank">跑鞋</a>
                        <a href="http://www.smzdm.com/fenlei/xianshiqi/" target="_blank">显示器</a>
                        <a href="http://www.smzdm.com/fenlei/kuangjing/" target="_blank">框镜</a>
                        <a href="http://www.smzdm.com/fenlei/pingbandiannao/" target="_blank">平板电脑</a>
                        <a href="http://www.smzdm.com/fenlei/woshi/" target="_blank">卧室家具</a>
                        <a href="http://www.smzdm.com/fenlei/erji/" target="_blank">耳机</a>
                        <a href="http://www.smzdm.com/fenlei/taishiji/" target="_blank">台式机</a>
                        <a href="http://www.smzdm.com/fenlei/xiyiji/" target="_blank" _hover-ignore="1">洗衣机</a>
                        <a href="http://www.smzdm.com/fenlei/yinxiang/" target="_blank">音箱</a>
                        <a href="http://www.smzdm.com/fenlei/jianshu/" target="_blank">键鼠</a>
                        <a href="http://www.smzdm.com/fenlei/guoneilvyou/" target="_blank">国内旅游</a>
                        <a href="http://www.smzdm.com/fenlei/xianka/" target="_blank">显卡</a>
                        <a href="http://www.smzdm.com/fenlei/suishenbofangqi/" target="_blank" _hover-ignore="1">随身播放器</a>
                        <a href="http://www.smzdm.com/fenlei/weiyuyongpin/" target="_blank">卫浴用品</a>
                        <a href="http://www.smzdm.com/fenlei/touyingshebei/" target="_blank">投影设备</a>
                        <a href="http://www.smzdm.com/fenlei/xichenqi/" target="_blank">吸尘器</a>
                        <a href="http://www.smzdm.com/fenlei/qixingyundong/" target="_blank">骑行运动</a>
                        <a href="http://www.smzdm.com/fenlei/nvbiao/" target="_blank">女表</a>
                        <a href="http://www.smzdm.com/fenlei/jiatingyingyuan/" target="_blank">家庭影院</a>
                    </div>
                    <div>
                        <a href="http://pinpai.smzdm.com/249/" target="_blank">索尼</a>
                        <a href="http://pinpai.smzdm.com/729/" target="_blank">阿迪达斯</a>
                        <a href="http://pinpai.smzdm.com/1933/" target="_blank">小米</a>
                        <a href="http://pinpai.smzdm.com/273/" target="_blank">飞利浦</a>
                        <a href="http://pinpai.smzdm.com/765/" target="_blank">亚瑟士</a>
                        <a href="http://pinpai.smzdm.com/257/" target="_blank">三星</a>
                        <a href="http://pinpai.smzdm.com/1687/" target="_blank">苹果</a>
                        <a href="http://pinpai.smzdm.com/247/" target="_blank">松下</a>
                        <a href="http://pinpai.smzdm.com/727/" target="_blank">耐克</a>
                        <a href="http://pinpai.smzdm.com/1675/" target="_blank">戴尔</a>
                        <a href="http://pinpai.smzdm.com/1825/" target="_blank">华为</a>
                        <a href="http://pinpai.smzdm.com/1669/" target="_blank">联想</a>
                        <a href="http://pinpai.smzdm.com/1163/" target="_blank">卡西欧</a>
                        <a href="http://pinpai.smzdm.com/2007/" target="_blank">亚马逊</a>
                        <a href="http://pinpai.smzdm.com/1681/" target="_blank">华硕</a>
                        <a href="http://pinpai.smzdm.com/749/" target="_blank">new balance</a>
                        <a href="http://pinpai.smzdm.com/627/" target="_blank">乐高</a>
                        <a href="http://pinpai.smzdm.com/1773/" target="_blank">罗技</a>
                        <a href="http://pinpai.smzdm.com/2475/" target="_blank" _hover-ignore="1">迪卡侬</a>
                        <a href="http://pinpai.smzdm.com/1583/" target="_blank">BOSE</a>
                        <a href="http://pinpai.smzdm.com/1931/" target="_blank">魅族</a>
                        <a href="http://pinpai.smzdm.com/1417/" target="_blank">佳明</a>
                        <a href="http://pinpai.smzdm.com/1699/" target="_blank">英特尔</a>
                        <a href="http://pinpai.smzdm.com/yundonghuwai/" target="_blank">运动品牌</a>
                        <a href="http://pinpai.smzdm.com/lipinzhongbiao/" target="_blank">钟表品牌</a>
                        <a href="http://pinpai.smzdm.com/muyingyongpin/" target="_blank">母婴品牌</a>
                        <a href="http://pinpai.smzdm.com/gehuhuazhuang/" target="_blank">化妆品牌</a>
                        <a href="http://pinpai.smzdm.com/jiayongdianqi/" target="_blank">家电品牌</a>
                    </div>
                    <div>
                        <a href="http://card.smzdm.com/card/bank8/" target="_blank">交行信用卡</a>
                        <a href="http://card.smzdm.com/card/bank10/" target="_blank">广发信用卡</a>
                        <a href="http://card.smzdm.com/card/bank9/" target="_blank">浦发信用卡</a>
                        <a href="http://card.smzdm.com/card/bank6/" target="_blank">招行信用卡</a>
                        <a href="http://card.smzdm.com/card/bank7/" target="_blank">中信银行信用卡</a>
                        <a href="http://card.smzdm.com/card/bank13/" target="_blank">农行信用卡</a>
                        <a href="http://card.smzdm.com/card/bank11/" target="_blank">平安银行信用卡</a>
                        <a href="http://card.smzdm.com/card/bank12/" target="_blank">兴业银行信用卡</a>
                        <a href="http://card.smzdm.com/card/bank17/" target="_blank">光大银行信用卡</a>
                        <a href="http://card.smzdm.com/card/bank22/" target="_blank">花旗银行信用卡</a>
                        <a href="http://card.smzdm.com/card/bank23/" target="_blank">渣打银行信用卡</a>
                        <a href="http://card.smzdm.com/card/bank21/" target="_blank">广州银行信用卡</a>
                    </div>
                    <div>
                        <a href="http://duihuan.smzdm.com/quan/183/" target="_blank">京东优惠券</a>
                        <a href="http://duihuan.smzdm.com/quan/183/" target="_blank">云猴全球购优惠券</a>
                        <a href="http://duihuan.smzdm.com/quan/4373/" target="_blank">达令网优惠券</a>
                        <a href="http://duihuan.smzdm.com/quan/3981/" target="_blank">网易考拉海购优惠券</a>
                        <a href="http://duihuan.smzdm.com/quan/269/" target="_blank">亚马逊中国优惠券</a>
                        <a href="http://duihuan.smzdm.com/quan/239/" target="_blank">苏宁易购优惠券</a>
                        <a href="http://duihuan.smzdm.com/quan/679/" target="_blank">健一网优惠券</a>
                        <a href="http://duihuan.smzdm.com/quan/43/" target="_blank">1号店优惠券</a>
                        <a href="http://duihuan.smzdm.com/quan/2791/" target="_blank">百度外卖优惠券</a>
                        <a href="http://duihuan.smzdm.com/quan/3613/" target="_blank">西集网优惠券</a>
                        <a href="http://duihuan.smzdm.com/quan/487/" target="_blank">1药网优惠券</a>
                        <a href="http://duihuan.smzdm.com/quan/2537/" target="_blank">天猫超市优惠券</a>
                        <a href="http://duihuan.smzdm.com/quan/191/" target="_blank">可得眼镜网优惠券</a>
                        <a href="http://duihuan.smzdm.com/quan/167/" target="_blank">国美在线优惠券</a>
                        <a href="http://duihuan.smzdm.com/quan/5104/" target="_blank">滴滴优惠券</a>
                        <a href="http://duihuan.smzdm.com/quan/349/" target="_blank">大众点评网优惠券</a>
                        <a href="http://duihuan.smzdm.com/quan/247/" target="_blank">天猫精选优惠券</a>
                        <a href="http://duihuan.smzdm.com/quan/5350/" target="_blank">租租车优惠券</a>
                    </div>
                </div>
            </div>
            <!-- footer-innerlink end -->

            <!-- 友情链接 -->
            <dl class="footer-l-mid">
                <dt>友情链接<a href="#" class="apply-link">申请</a></dt>
                <dd>
                    <a href="http://www.eraclean.com/" target="_blank">EraClean</a>
                    <a href="http://www.hi-pda.com/forum/" target="_blank">Hi-pda论坛</a>
                    <a href="http://www.xintian.org/index.html" target="_blank">信天谨游</a>
                    <a href="http://www.ithome.com/" target="_blank">IT之家</a>
                    <a href="http://www.ebrun.com/" target="_blank">亿邦动力</a>
                    <a href="http://www.sssc.cn" target="_blank">盛世收藏网</a>
                    <a href="http://www.zazhipu.com" target="_blank">杂志铺</a>
                    <a href="http://www.cnmo.com/" target="_blank">手机中国</a>
                    <a href="http://www.xici.net/" target="_blank">西祠胡同</a>
                    <a href="http://www.lemall.com/" target="_blank">乐视手机</a>
                    <a href="http://www.zbird.com/"   target="_blank">婚戒</a>
                    <a href="http://www.moonbasa.com/" target="_blank">梦芭莎</a>
                    <a href="http://digi.163.com/"    target="_blank">网易数码</a>
                    <a href="http://erji.hao123.com/xiaoqingxin" target="_blank">hao123</a>
                    <a href="http://mydown.yesky.com/" target="_blank">软件下载</a>
                </dd>
            </dl>
            <!-- 友情链接 end -->

            <div class="footer-l-btm">
                <p>版权所有 本站内容未经书面许可,禁止一切形式的转载。 © copyright 2010-2019 什么值得买. All rights reserved.</p>
                <p><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备12048526号-2</a><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010602100083" target="_blank"><img alt="police" class="footer-l-police" src="//res.smzdm.com/resources/public/img/pc_global/police.png"> 京公网安备 11010602100083</a> <a href="http://www.smzdm.com/jingyingxuke/" target="_blank">电信与信息服务业务经营许可证：京ICP证160379号</a> <a href="http://www.smzdm.com/shipinxuke/" target="_blank">广播电视节目制作经营许可证（京）字第07726号</a></p>
                <p>互联网药品信息服务资格证书(京)-非经营性-2017-0107 | 违法和不良信息举报电话：010-56640751 | 违法和不良信息举报邮箱：service@smzdm.com</p>
                <p>公司名称：北京值得买科技股份有限公司 地址：北京市丰台区洋桥12号院3层至19层 座机：010-56640700</p>
            </div>
            <div class="footer-l-credit">
                <p>
                    <a href="https://credit.szfw.org/CX20171229037315080126.html" rel="nofollow" target="_blank"><img alt="credit" src="//res.smzdm.com/resources/public/img/pc_global/honesty_website.png"/></a>
                </p>
            </div>
        </div>

        <div class="footer-right">
            <div id="qrcode">
                <img src="//res.smzdm.com/resources/public/img/pc_global/qrcode.png" alt="qrcode">
            </div>
            <ul id="subscribes">
                <li><span><i class="icon-wechat"></i>smzdm_smzdm</span></li>
                <li><a href="#"><i class="icon-weibo"></i>关注什么值得买</a></li>
                <li><a href="#"><i class="icon-rss"></i>Rss 订阅中心</a></li>
            </ul>
        </div>
    </div>
    <% if(!data.noElevator){%>
    <ul id="elevator" class="z-right-widget">
        <% if(data.needSongce){ %>
        <!-- 目前只有众测频道有 -->
        <li>
            <a href="//test.smzdm.com/baoming/" target="_blank" title="商家送测" class="pure-text ">商家送测</a>
        </li>
         <% } %>
        <li>
            <a class="J_smart_kefu" href="javascript:void(0);" target="_blank"><i class="icon-service"></i><span>智能客服</span>
            </a>
        </li>
        <li>
            <a href="http://www.smzdm.com/faq" target="_blank"><i class="icon-buoy"></i><span>帮助中心</span>
            </a>
        </li>
        <li class="back-top" id="J_back_top">
            <a href="#"><i class="icon-angle-up-o"></i><span>返回顶部</span>
            </a>
        </li>
    </ul>
    <%}%>
</footer>
<!-- 全站footer+右侧电梯 end -->
<!-- 以上内容无需嵌套, 接口统一输出 -->
