<div class="side-max">
    <a href="#" target="_blank">
        <img src="https://via.placeholder.com/80x80" />
    </a>
    <div class="side-jx-r">
        <a class="side-line-title" href="#" target="_blank">滴滴7月18日 121元优惠礼包滴滴7月18日 121元优惠礼包滴滴7月18日 121元优惠礼包</a>
        <div class="side-quan-style">
            <span class="s-number">已领：3062张</span>
            <a class="s-lingqu" href="#" target="_blank">领取</a>
        </div>
    </div>
</div>