<div class="side-max">
    <a href="#" target="_blank">
        <img src="https://via.placeholder.com/80x80" />
    </a>
    <div class="side-jx-r">
        <a class="side-line-title" href="#" target="_blank">滴滴7月18日 121元优惠礼包滴滴7月18日 121元优惠礼包滴滴7月18日 121元优惠礼包</a>
        <div class="side-zan-comment">
            <span class="s-zan" ><i class="icon-thumb-up-o-thin"></i>31</span>
            <span class="s-comment" ><i class="icon-comment-o-thin"></i>32</span>
        </div>
    </div>
</div>
