<div class="side-max topic-right">
    <a href="#" target="_blank">
        <img src="https://via.placeholder.com/80x80" />
    </a>
    <div class="side-jx-r z-clearfix">
        <a class="side-line-title" href="#" target="_blank">滴滴7月18日 121元优惠礼包滴滴7月18日 121元优惠礼包滴滴7月18日 121元优惠礼包</a>
        <div class="side-zan-comment">
            <span class="s-zan">31内容</span>
            <span class="s-comment">32关注</span>
        </div>
        <span class="corner-btn J_user_focus" data-type="tag" data-cate="致爱二次元"><i  class="icon-plus-o-thin"></i>关注</span>
    </div>
</div>
