<div class="feed-col">
    <div class="feed-col-img">
        <a href="#"><img src="https://via.placeholder.com/300x167?text=竖型feed" alt=""></a>
    </div>
    <div class="feed-col-title">
        <a href="">一代人的情怀，竞技赛车类玩具的智能升级版 —— 银河战甲一代人的情怀，竞技赛车类玩具的智能升级版 —— 银河战甲</a>
    </div>
    <div class="feed-col-foot">
        <div class="feed-col-foot-l">
            <span class="z-group-data"><i class="z-icons z-icon-men"></i><a href="#" title="">邻家小妹</a></span>
        </div>
        <div class="feed-col-foot-r">
            <span class="z-group-data J_zhi_like_fav" data-article="6023" data-channel="2" data-type="fav"><i class="z-icon-star-empty"></i><span>4322</span></span><a href="" class="z-group-data"><i class="z-icon-comment"></i>4322</a>
        </div>
    </div>
</div>
