<!--侧边栏slick轮播图结构-->
<div class="J_side_yuanchuang_slick side-slick">
    <%for(var i = 0;i<5;i++){%>
    <div class="side-yuanchuang">
        <div class="side-yuanchuang-feeds">
            <div class="feed-col">
                <div class="feed-col-img">
                    <a href="#"><img src="https://via.placeholder.com/300x170?text=竖型feed" alt=""></a>
                </div>
                <div class="feed-col-title">
                    <a href="">一代人的情怀，竞技赛车类玩具的智能升级版 —— 银河战甲一代人的情怀，竞技赛车类玩具的智能升级版 —— 银河战甲</a>
                </div>
                <div class="feed-col-foot">
                    <div class="feed-col-foot-l">
                        <img src="https://via.placeholder.com/20x20" alt="" />
                        <a href="#">邻家小妹</a>
                    </div>
                    <div class="feed-col-foot-r">
                        <span class="z-group-data"><i class="icon-star-o-thin"></i>4322</span>
                        <span class="z-group-data"><i class="icon-comment-o-thin"></i>4322</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%}%>
</div>